
@{
    ViewData["Title"] = "Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Test</h1>
<h3>Burası Kendi Oluşturdugumuz View</h3>

<table>
    <tr>
        <th>Id</th>
        <th>Ad</th>
        <th>Yazar</th>
        <th>Tür</th>
        <th>Sayfa</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Sefiller</td>
        <td>Victor Hugo</td>
        <td>Roman</td>
        <td>457</td>
    </tr>
    <tr>
        <td>2</td>
        <td>DonKişot</td>
        <td>Cervantes</td>
        <td>Roman</td>
        <td>550</td>
    </tr>

</table>