@model EntityLayer.Concrete.Book
@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/UserLayout2.cshtml";
}

<h1>Update Kitap</h1>
<form asp-controller="Book" asp-action="Update" method="post">
    <input type="hidden" asp-for="Id" /> <!-- Kitap ID'si gizli olarak gönderilmeli -->

    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Type" class="control-label"></label>
        <input asp-for="Type" class="form-control" />
        <span asp-validation-for="Type" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Page" class="control-label"></label>
        <input asp-for="Page" class="form-control" />
        <span asp-validation-for="Page" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="WriterId" class="control-label"></label>
        <input asp-for="WriterId" class="form-control" />
        <span asp-validation-for="WriterId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="PublisherId" class="control-label"></label>
        <input asp-for="PublisherId" class="form-control" />
        <span asp-validation-for="PublisherId" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Save Changes</button>
</form>
