@model EntityLayer.Concrete.User

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/UserLayout2.cshtml";
}

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Giriş Yap</title>
    <style>
        .login-container {
            width: 50%;
            margin: 0 auto;
            text-align: center;
            background: #ffb606;
            padding-top: 50px;
            padding-bottom: 50px;
            border-radius: 10px;
        }

        .small-textbox {
            width: 200px;
            height: 30px;
        }

        .button {
            background-color: black;
            color: white;
            padding: 15px 30px;
            border: none;
            cursor: pointer;
            border-radius: 5px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
        }

            .button:hover {
                background-color: #333;
            }
    </style>
</head>
<body>
    <div class="login-container">
        <h1>Giriş Yap</h1>
        @Html.ValidationSummary()
        <form method="post">
            <label for="username">Kullanıcı Adı:</label><br>
            <input type="text" id="username" name="UserName" required class="small-textbox"><br><br>

            <label for="password">Şifre:</label><br>
            <input type="password" id="password" name="UserPassword" required class="small-textbox"><br><br>

            <input type="submit" value="Giriş Yap" class="button" formaction="/Login/Login">
        </form>
    </div>
</body>
</html>
