@model EntityLayer.Concrete.Writer
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/UserLayout2.cshtml";
}

<h1>Yazar Ekle</h1>
<form asp-controller="Writer" asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="WriterName" class="control-label"></label>
        <input asp-for="WriterName" class="form-control" />
        <span asp-validation-for="WriterName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="WriterNation" class="control-label"></label>
        <input asp-for="WriterNation" class="form-control" />
        <span asp-validation-for="WriterNation" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="WriterBirth" class="control-label"></label>
        <input asp-for="WriterBirth" class="form-control" />
        <span asp-validation-for="WriterBirth" class="text-danger"></span>
    </div>
  
    <!-- Diğer gerekli alanları buraya ekleyin -->

    <button type="submit" class="btn btn-primary">Create</button>
</form>

