<div class="register">

	<div class="container-fluid">

		<div class="row row-eq-height">
			<div class="col-lg-6 nopadding">

				<!-- Register -->

				<div class="register_section d-flex flex-column align-items-center justify-content-center">
					<div class="register_content text-center">
						<h1 class="register_title">İndirim İçin Kaydol</h1>
						<p class="register_text">Merkezi ve Sayılı kitaplarımız için kaydolabilirsin. Buton Aşağıda :) </p>
						<div class="button button_1 register_button mx-auto trans_200"><a href="@Url.Action("Index", "Register")">Üye Ol</a></div>
						<div class="button button_1 register_button mx-auto trans_200"><a href="@Url.Action("Index", "Login")">Giriş Yap</a></div>
					</div>
				</div>
			</div>

			<div class="col-lg-6 nopadding">

				<!-- Search -->

				<div class="search_section d-flex flex-column align-items-center justify-content-center">
					<div class="search_background" style="background-image:url(images/search_background.jpg);"></div>
					<div class="search_content text-center">
						<h1 class="search_title">Kitap Arayın Kütüphanemizde Mevcut Mu ?</h1>
						<form id="search_form" class="search_form" action="post">
							<input id="search_form_name" class="input_field search_form_name" type="text" placeholder="Bir Kelime Yazın" required="required" data-error="Course name is required.">
							<button id="search_submit_button" type="submit" class="search_submit_button trans_200" value="Submit">Ara</button>
						</form>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>